<script setup lang="ts">
import './style.scss'
import { useFeed } from '@/composable/useFeed';
const { blank } = useFeed();
</script>
<template>
  <div v-item-blank class="feed__item_blank">
    <FeedItem :item="blank()" />
  </div>
</template>
