.feed__item_blank{
  width: 100%;
  display: flex;
  .feed__item__data_name, 
  .feed__item__data_email{
    background: var(--var-color-light);
    min-height: 25px;
    margin-bottom: 10px;
    animation: blink 0.7s steps(4, start) infinite;
    -webkit-animation: blink 0.7s steps(4, start) infinite;
  }
}
@keyframes blink {
  to {
    opacity: 0.25;
  }
}
@-webkit-keyframes blink {
  to {
    opacity: 0.25;
  }
}