<script setup lang="ts">
import './style.scss'
import type { FeedImageProps } from './interface'
import { defaultImage } from '@/utils'
const { alt, src } = defineProps<FeedImageProps>()
</script>
<template>
  <div class="feed__image">
    <img v-lazy-image :alt="alt" :data-src="src" :src="defaultImage" />
  </div>
</template>