<script setup lang="ts">
import './style.scss'
import type { FeedItemProps } from './interface'
import { copy } from '@/utils';
import { useFeed } from '@/composable/useFeed';
const { alt } = useFeed()
const { item } = defineProps<FeedItemProps>()
const { first, last, title } = item.name;
</script>
<template>
  <div v-item-visible class="feed__item">
    <FeedImage :src="item.picture?.large" :alt="alt(item)"/>
    <div class="feed__item__data">
      <div class="feed__item__data_name">
        <h4><b>{{ title }}</b>{{ first }} {{ last }}</h4>
      </div>
      <div class="feed__item__data_email">
        <p @click="copy(item.email)">{{ item.email }}</p>
      </div>
    </div>
  </div>
</template>
