.feed__item{
  max-width: var(--var-max-width);
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background: var(--var-color-white);
  padding: 12px;
  border-radius: 8px;
  &.-hide{
    visibility: hidden;
  }
  .feed__item__data{
    flex-basis: calc(100% - 128px);
  }
  p{
    cursor: pointer;
    &:active{
      color: var(--var-color-violet);
    }
  }
}