h4{
  font-size: 15px;
  margin-bottom: 5px;
  b{
    color: var(--var-color-gray);
    margin-right: 5px;
    font-weight: normal;
    font-size: 12px;
  }
}
p{
  font-size: 12px;
  font-weight: normal;
}