<script setup lang="ts">
import './style.scss'
import { useFeed } from '@/composable/useFeed';
const { getFeed, feed } = useFeed();
</script>
<template>
  <div class="feed__list">
    <FeedItem v-for="item in feed" :key="item.id" :item="item" />
    <FeedItemBlank @getFeed="getFeed" />
  </div>
</template>
